<div class="jumbotron">
  <h1 class="display-4"><strong>Welcome to IskoExchange!</strong></h1>
  <p class="lead">IskoExchange is a platform for UP students to ask questions and share insights related to UP. These topics can vary from academics to certain University processes, and many more. IskoExchange aims to connect UP students together and answer each other's concerns quickly and clearly.</p>
</div>

<h2>Latest questions</h2><hr>

<% @questions.each do |question| %>
    <h3><%= link_to question.title, question %></h3>
    <div><%= question.user.display_name %></div>
    <div><%= question.created_at %></div>
    <hr>
<% end %>