<!--
    Description: View template for the homepage
    Copyright (C) 2018 Ivan Balingit

    This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2015-2016
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.

     *CHANGELOG*
     Ivan Balingit 2/2/18 - Initial Source Code and content. 
     Ivan Balingit 2/9/18 - Added License
     Ivan Balingit 2/14/18 - Add link to user
     Patricia Cajaljal 2/22/18 - Edited frontend for home

     File created on: 1/26/18
     Developer: 
     Client: UP Diliman Students
     IskoExchange is a platform for UP students to ask questions and share insights related to UP
-->


<div class="jumbotron">
  <h1 class="display-4"><strong>Welcome to IskoExchange!</strong></h1>
  <p class="lead">IskoExchange is a platform for UP students to ask questions and share insights related to UP. These topics can vary from academics to certain University processes, and many more. IskoExchange aims to connect UP students together and answer each other's concerns quickly and clearly.</p>
</div>


<h2>Latest questions</h2><hr>

<% @questions.each do |question| %>
    <h4 style="color:#000000;" class="question-title"><%= link_to question.title, question, {:style=>'color:#000000;'} %></h4>
    <div><i>Asked by: </i><%= link_to question.user.display_name, question.user %></div>
    <div><%= question.created_at %></div>
    <hr>
<% end %>