.question-content {
	display: inline-block;
	background-color: #DADEDF;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	margin-top: 20px;
	//width: 80%;
	float: left;
}

.questioner-profile {
	display: inline-block;
	border-radius: 5px;
	padding: 10px 10px 10px;
	//width: 20%;
	float: right;
}

.answerer-profile {
	display: inline-block;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	float: right;
	margin-top: 10px;
	//background-color: green;
}

.replier-profile {
	//display: inline-block;
	border-radius: 5px;
	padding: 0px 10px 10px 10px;
	//width: 20%;
	//background-color: red;
	float: right;
}

.answer-reply-container {
	background-color: #F0F0F0;
	border-radius: 5px;
}

.answer-content {
	display: inline-block;
	padding: 10px 10px 10px 10px;
	//background-color: yellow;
	//width: 80%;
}

.reply-content {
	//display: inline-block;
	background-color: #C4C5C6;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	//margin: 10px 10px 10px 10px;
	//width: 100%;
}